.App {
    text-align: center;
}

.App-dark {
    background-color: #282c34;
    color: white;
}

.App-light {
    background-color: white;
    color: black;
}

.App-logo {
    height: 5vmin;
    pointer-events: none;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: 1rem;
    /* animation: App-logo-spin infinite 20s linear; */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
    background-color: #282a34;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative;
}

.App-switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: auto;
    right: 1rem;
}

.App-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.App-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.App-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .App-slider {
    background-color: #000;
}

input:focus + .App-slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .App-slider:before {
    transform: translateX(26px);
}

.App-slider.round {
    border-radius: 34px;
}

.App-slider.round:before {
    border-radius: 50%;
}

.App-link {
    color: #61dafb;
    text-decoration: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-body {
    height: 92vmin;
    display: flex;
}
