@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

.App {
    text-align: center;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.App-logo {
    height: 5vmin;
    pointer-events: none;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.error-404 {
    font-family: "Rubik Bubbles", sans-serif;
    font-size: 10rem;
    color: #000;

    @media only screen and (max-width: 600px) {
        font-size: 5rem;
    }

    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        font-size: 7rem;
    }

    @media only screen and (min-width: 1025px) and (max-width: 1440px) {
        font-size: 8rem;
    }
}

.App-header {
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative;
}

.App-switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: auto;
    right: 1rem;
}

.App-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.App-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    font-size: 1rem;
    text-align: center;
    line-height: 34px;
    padding: 0 0.5rem;
}

.dark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    text-align: left;
    font-size: 0.6rem;
}

.light {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    text-align: right;
    font-size: 0.6rem;
}

.App-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .App-slider {
    background-color: #000;
}

input:focus + .App-slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .App-slider:before {
    transform: translateX(26px);
}

.App-slider.round {
    border-radius: 34px;
}

.App-slider.round:before {
    border-radius: 50%;
}

.App-link {
    color: #61dafb;
    text-decoration: none;
}

.App-body {
    height: 92vmin;
    display: flex;
}

/* Media queries for responsive design */
@media only screen and (max-width: 600px) {
    .App-header {
        height: 12vh;
    }

    .App-switch {
        right: 0.5rem;
    }

    .App-slider {
        font-size: 0.6rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .App-header {
        height: 10vh;
    }

    .App-switch {
        right: 0.8rem;
    }

    .App-slider {
        font-size: 0.6rem;
    }
}
